!!!5
html
  head
    title Vic de Vide
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head
  body
    header
      h1 Vic de Vide
        span Cook it like it's cold!
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on Raspberry Pi with node, Express, Jade, Stylus, Rickshaw and Redis
      p (c) 2013 Peter Allwin